@import "tailwindcss";
@import "./styles/links.css";
@import "./styles/dashboard.css";
@import "./styles/animal.css";
@import "./styles/animals.css";
@import "./styles/edition-dialog.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-amber-50 dark:bg-gray-950 text-neutral-50;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme {
  --color-backdrop: oklch(98.7% 0.022 95.277);

  --color-primary: oklch(0.59 0.0807 131.87);
  --color-primary-light: oklch(0.77 0.0727 127.33);

  --color-secondary: oklch(0.44 0.0736 156.57);
  --color-secondary-light: oklch(0.63 0.0467 159.45);
  --color-secondary-xlight: oklch(0.76 0.0467 159.45);

  --color-tertiary: oklch(0.79 0.0386 158.74);
  --color-tertiary-light: oklch(0.94 0.0338 160.43);

  --color-contrast: oklch(0.69 0.1404 61.45);
  --color-contrast-light: oklch(0.88 0.0173 61.93);
  --color-contrast-dark: oklch(0.68 0.0757 68.03);

  --color-gray: oklch(0.8 0 0);
  --color-gray-light: oklch(0.93 0.0011 197.14);
  --color-gray-dark: oklch(0.57 0.025 274.45);

  --color-error: oklch(0.41 0.1507 27.06);
  --color-error-light: oklch(0.6846 0.2042 24.28);
  --color-error-dark: oklch(0.29 0.1158 28.73);
  --color-good: oklch(0.62 0.1274 154.95);
}

h1, h2 {
  @apply font-bold;
}

.main-body {
  @apply p-4 overflow-auto;
  height: 638px;
}

button {
  @apply cursor-pointer;
}

.logo {  
  @apply fixed bottom-0 right-0 w-16;
}
.logo img {
  @apply rounded-full;
}

.chip-list {
  @apply grid grid-cols-2 text-black gap-4;
}
.chip {
  @apply grid grid-cols-[1fr_7fr] gap-2 text-center;
}
.chip span {
  @apply border-4 box-border border-secondary;
}
.chip-selected {
  @apply text-neutral-50 font-bold bg-secondary-light rounded-full text-sm flex justify-center p-1 pr-2 pl-2;
  font-size: 12px;
}
.chip-selected.error {
  @apply bg-error border-error-dark;
}
.chip-selected.warning {
  @apply bg-contrast border-contrast-dark;
}
.chip-selected.good {
  @apply bg-good border-primary;
}
.chip-unselected {
  @apply text-neutral-50 font-bold bg-primary-light rounded-full text-sm flex justify-center p-1 pr-2 pl-2;
  font-size: 12px;
}
.chip-disabled {
  @apply text-neutral-50 font-bold bg-gray-dark rounded-full text-sm flex justify-center p-1 pr-2 pl-2;
  font-size: 12px;
}

.toggle-light {
  @apply bg-gray text-white flex justify-center items-center rounded-full p-2;
}